@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-oscuro: #131c2f;
  --verde-lima: #e2e6c9;
  --verde-manzana: #83ae8a;
  --verde-blanco: #d0d9cc;
  --verde-claro: #b3bd75;
  --verde-medio: #4cb681;
  --verde-oscuro: #5c9f89;
  --verde-dark: #233125;
  --azul-principal: #048390;
  --azul-secundario: #013750;
  --azul-claro: #d0dfee;
  --azul-oscuro: #2779ca;
  --gris-claro: #c5c5c5;
  --rojo-claro: #eed0d0;
  --rojo-oscuro: #c76c6c;
  --blanco: #ffffff;
  --blanco-oscuro:#d9d9cc;
  --negro: #000000;
  --negro-claro: #35383d;
  --negro-medio: #1d1d1f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  height: auto;
}

body.sin-scroll {
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}

.ancho {
  max-width: 1000px;
  margin: auto;
  /*border: 1px solid green;*/
}

.columna {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fila {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.fondo-gradiente {
  background: linear-gradient(
    0.33turn,
    var(--verde-blanco),
    var(--verde-blanco),
    var(--blanco-oscuro),
    var(--verde-blanco)
  );
  background-size: 300% 300%;
  animation: GradientBackground 12s ease infinite;
}

@keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  overflow:hidden;
   /*background-color: var(--blanco-oscuro);*/
}

.figura-fondo {
  width: 90%;
  height: 210px;
}

.cabecera-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  padding-top: 20px;
  transition: 1s;
}

.abajo {
  z-index: 50;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  border-bottom: 0.5px solid var(--azul-claro);
  padding-top: 0px;
  border-top: none;
}

.contenedor-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 45px;
}

.logo {
  background-image: url(images/logo-negro.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 23px;
  height: 25px;
  transition: 0.5s;
}

#menu-flotante.abajo .logo {
  background-image: url(images/logo.svg);
  width: 23px;
  height: 25px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  /*border:1px solid red;*/
}

.menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 350px;
}

.menu ul li {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--negro-claro);
  margin-right: 30px;
  transition: 0.5s;
}

.opcion-menu {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--verde-medio);
}

.texto-negro {
  color: var(--negro-medio);
}

#menu-flotante.abajo .texto-negro {
  color: var(--negro);
}

li .texto-blanco:hover,
.icono-redes-menu .texto-blanco:hover,
#menu-flotante.abajo .texto-blanco:hover {
  color: var(--verde-medio);
}

.icono-redes-menu {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.icono-redes-menu a i {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #9292923b;
  border-radius: 50px;
  font-size: 18px;
  padding: 0px 8px;
  margin: 5px;
  transition: 0.5s;
}

.icono-movil {
  display: none;
}

.boton-movil-oculto {
  display: none;
}

.contenedor-bienvenida {
  height: 100%;
  width: 100%;
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80%;
  margin-top: 10%;
  position: relative;
  z-index: 5;
}

.mi-imagen {
  background-image: url(images/foto-perfil.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100px;
  width: 75px;
  height: 75px;
}

.texto-bienvenida {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  width: 90vw;
  height: auto;
}

.texto-bienvenida h1 {
  font-size: 150px;
  line-height: 150px;
  width: auto;
  height:160px;
  color: var(--negro);
  border-right: 5px solid var(--verde-medio);
}

.texto-uno {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin: auto;
  padding:10px 0px ;
  color: var(--negro-claro);
}

.verde {
  /*background: -webkit-linear-gradient(
    90deg,
    var(--verde-claro),
    var(--verde-claro)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  color: var(--verde-oscuro);
}

.verde-claro {
  color: var(--verde-claro);
}

.contenedor-botones-h {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
}

.boton-oscuro {
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 12px;
  background-color: var(--negro-claro);
  color: var(--blanco);
}

.boton-oscuro:hover{
  background-color: var(--azul-claro);
  color: var(--azul-oscuro);
}

.boton-borde-oscuro {
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 12px;
    border:2px solid var(--negro-claro);
    color: var(--negro-claro);
}

.texto-azul {
  color: var(--blanco);
}

.seccion-sobre-mi {
  background-color: var(--blanco);
  height: auto;
  padding: 50px 0px;
}

.contenedor-estatico {
  position: sticky;
  top: 0px;
}

.contenedor-sobre-mi {
  width: 100%;
  margin: auto;
  padding: 50px 0px 50px 0px;
  color: var(--negro-medio);
}

.contenedor-sobre-mi h2{
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  width: 60%;
  margin: auto;
}

.titulo {
  font-size: 45px;
  line-height: 50px;
  text-align: center;
  width: 60%;
  margin: auto;
}

.subtitulo {
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
  width: 60%;
  margin: auto;
  padding: 20px 0px;
}

.texto-sobre-mi {
  font-size: 25px;
  line-height: 30px;
  font-weight: 500;
  text-align: center;
  width: 60%;
  margin: auto;
  padding: 20px 0px 40px 0px;
  color: var(--negro-claro);
}

.azul {
  /*background: -webkit-linear-gradient(
    90deg,
    var(--azul-principal),
    var(--azul-principal)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  color: var(--azul-principal);
}

.contenedor-frase {
  width:100%;
  height: 550px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  z-index: 5;
  background-color: var(--negro);
}


.boton-blanco {
  background-color: var(--color-oscuro);
  color: var(--blanco-oscuro);
  font-weight: 500;
}


.frase {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  position: absolute;
  top: 25%;
  width: 100%;
  padding-left: 10%;
  color: var(--blanco);
}

.frase h2 {
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
  padding-bottom: 20px;
  width: 20%;
}

.contenedor-mi-foto {
  width: 100%;
  height: 100%;
  background-image: url(images/mi-foto.jpg);
  background-position: 75%;
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedor-titulo{
  margin-top: 50px;
}

.azul-oscuro{
  color: var(--azul-oscuro);
}

.seccion-portafolio{
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.descripcion-slide{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25%;
  position: absolute;
  top:75%;
  backdrop-filter: blur(20px);
  overflow: hidden;
}

.boton-claro {
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 12px;
  background-color: var(--blanco);
  color: var(--negro-claro);
}

.boton-claro:hover{
  background-color: var(--azul-claro);
  color: var(--negro-claro);
}

.boton-flotante{
position: sticky;
bottom: 10px;
border: #000000 solid 1px;
}

@media screen and (max-width: 900px) {
  .ancho {
    max-width: 90%;
    /*border: 1px solid;*/
  }

  .menu {
    width: 60%;
  }

  .menu ul {
    margin-left: 0px;
  }

  .contenido {
    height: 40%;
    margin-top: 45%;
  }

  .texto-bienvenida h1 {
    font-size: 130px;
    line-height: 135px;
    height:150px;
  }
  
  .texto-uno {
    font-size: 30px;
    line-height: 35px;
  }
  
  .texto-dos {
    font-size: 40px;
  }
}

@media screen and (max-width: 500px) {

  .figura-fondo {
    z-index: 1;
    width: 100vw;
    height: 150px;
  }

  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100vh;
    background-color: var(--blanco);
  }

  .menu ul {
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 0px;
    padding-top: 30%;
  }

  .menu ul li {
    font-family: "poppins", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: var(--negro-claro);
    margin: 10px;
    transition: 0.5s;
  }

  .icono-redes-menu {
    width: 60%;
    margin: auto;
    padding-top: 50px;
  }

  .icono-redes-menu a i {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 55px;
    height: 55px;
    font-size: 30px;
  }

  .icono-movil {
    display: block;
    font-size: 20px;
  }

  .boton-movil {
    position: relative;
    z-index: 80;
  }

  .boton-movil-oculto {
    display: none;
    font-size: 20px;
    position: relative;
    z-index: 80;
  }

  .mi-imagen {
    width: 80px;
    height: 80px;
  }

  .contenido {
    height: 50%;
    margin-top: 60%;
  }

  .texto-bienvenida h1 {
    font-size: 65px;
    line-height: 75px;
    height:80px;
    padding: 0px;
  }
  
  
  .texto-uno {
    font-size: 30px;
  }

  .contenedor-botones-h {
    width: 100%;
    margin: auto;
    padding: 25px 0px;
  }

  .boton-medio {
    display: inline-flex;
    justify-content: space-evenly;
    font-size: 14px;
    border-radius: 12px;
    width: 40%;
    height: 45px;
  }

  .contenedor-sobre-mi h2{
    font-size: 25px;
    line-height: 30px;
    width: 80%;
  }

  .titulo{
    font-size: 30px;
    line-height: 35px;
    width: 80%;
  }

  .subtitulo {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    width: 70%;
    padding: 10px 0px;
  }

  .texto-sobre-mi{
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    width: 80%;
  }

  .frase {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    width: 90%;
    margin-top:0px ;
    color: var(--blanco);
  }

  .frase h2 {
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    width: 50%;
    padding-left: 5%;
  }

  .boton-ancho {
    width: 50%;
  }
}


@media screen and (max-width: 350px) {

  .menu ul li {
    font-size: 25px;
  }

  .texto-bienvenida h1 {
    font-size: 55px;
    line-height: 65px;
    height:75px;
    padding: 0px;
  }

  .texto-uno {
    font-size: 25px;
  }

  .titulo {
    font-size: 25px;
    line-height: 30px;
    width: 80%;
  }

  .subtitulo {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    width: 70%;
    padding: 10px 0px;
  }

  .texto-sobre-mi {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    width: 70%;
    padding: 10px 0px;
  }

  .contenedor-frase {
    height: 490px;
  }

  .frase h2 {
    font-size: 20px;
    line-height: 30px;
  }

}